@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

a {
  text-decoration: none;
}

html {
  text-decoration: none;
}

li {
  display: inline-block;
  padding: .5em;
}

li:hover {
  padding: .5em;
  background-color: #0074d9;
}

div {
  background-color: #e2e2e2;
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@media only screen and (min-width: 20em) {

  .logo {
    text-align: center;
  }

}

@media only screen and (min-width: 25em) {

  .links {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .links {
    text-align: right;
  }

}
